.character-info-container {
  width: 80%;
  margin-left: 10%;
  display: flex;
  align-items: center;
}

.character-info-card {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: rgba(255, 255, 255, .6);
  width: 100%;
  padding: 2rem;
  height: 500px;
  align-items: center;
  border-radius: 8px;
}

.character-info-row {
  width: 50%;
  display: flex;
  justify-content: center;
}

.character-info-row > img {
  width: 90%;
  border-radius: 8px;
  max-height: 500px;
  max-width: 500px;
}

table {
  align-self: center;
  color: #444;
  margin-left: 10%;
  width: 100%;
  line-height: 40px;
  text-align: left;
  font-size: 1.5rem;
}